<div class="bridge">
	<div class ="container" >
		<div class="bridge-for-more">
			<h1>Batasan.</br> Ada yang menjadikannya alasan untuk berhenti. </br> Ada pula yang menjadikannya harapan untuk menggapai mimpi. </br> Dan inilah kisah mereka yang terus berharap...</h1>
			<p> - Farhan Farasdak, Founder of Riwayat Pemimpi</p>
		</div>

		<div class="button-for-more">
			<a href="articles" class="btn-xl btn-primary">More Dreamer's Story...</a>	
		</div>
	</div>
</div>