<!-- Jumbotron Header -->
<header class="jumbotron my-4">
	<h2 class="display-3"> Membangun Indonesia,</h2>
	<h2 class="display-3">Membangun Mimpi Anak Bangsa</h2>
	<br>
	<p class="lead">Ini adalah kisah mereka yang telah menggenggam mimpinya. Ini adalah tentang mereka yang berani melawan keterbatasan, menepis rintangan, untuk sesuatu yang mereka yakin bukan hanya angan.</p>
</header>