body {
  padding-top: 54px;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

.jumbotron {
  background-color: #258EFC;
  border-radius: 0px !important;
}

.jumbotron p {
  color: white;
}

.jumbotron h2 {
  color: white;
}

.navbar {
  border-radius: 0px;
}

.navbar-brand {
  font-size: 2.5rem;
}

.bg-dark {
  background-color: #258EFC !important;
}

.footer {
  margin-top: 56px;
  padding-top: 56px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #258EFC;
  text-align: center;
}

.bridge-for-more {
	padding-top: 40px;
	text-align: left;
	font-family: Futura;
}

.bridge-for-more h1 {
  color: white;
}

.bridge-for-more p {
  color: white;
}

.bridge .btn-primary {
    color: #003E7D;
    background-color: white;
    border-color: white;
    border-radius: 0px;
}

.bridge .btn-primary:hover {
    color: #258EFC;
    background-color: white;
    border-color: white;
    border-radius: 0px;
}

.bridge {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 40px; 
	padding-bottom: 40px;
	background: #258EFC;
}

.button-for-more {
	padding-top: 20px;
	text-align: center;
}

.btn-xl {
	padding-top: 20px;
	text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  width:50%;
}

a:hover {
  text-decoration: none;
}

.card-img-right {
  height: 250px;
  width: 200px;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}